{% extends "base.html" %}

{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}{{ block.super }}Sign Up{% endblock %}

{% block form_heading %}Signing Up is Free{% endblock %}

{% block container %}
    <div class="container">
    <div class="row">
    <div id="order-outer" class="col-md-12">
        <div class="text-head text-center">
    <h2>Zamów Bezpłatnie Wzornik Achilles</h2>
  </div>
    <div class="col-md-5">
        <div class="form-box ">
        {% crispy form %}
        </div>

    </div>
    <div class="col-md-7">
        <img src="{% static 'site/img/wzornik-s.jpg' %}" alt="wzornik uszlachetnien">

    </div>
    </div>
    </div>
    </div> <!-- .container-->
{% endblock container %}